<div id="<%= dom_id colaborador %>">
  <div class="d-flex justify-content-between">
    <span class="bold">Nome:</span>
    <span > <%= colaborador.nome %> </span>
  </div>
  <hr class="divider"/>

  <div class="d-flex justify-content-between">
    <span class="bold">Gênero:</span>
    <span> <%= colaborador.genero ? colaborador.genero.capitalize : "--" %> </span>
  </div>
  <hr class="divider"/>

  <div class="d-flex justify-content-between">
    <span class="bold">Data de nascimento:</span>
    <span> <%= colaborador.data_de_nascimento.strftime('%d/%m/%Y') %> </span>
  </div>
  <hr class="divider"/>

  <div class="d-flex justify-content-between">
    <span class="bold">Etnia:</span>
    <span> <%= colaborador.etnia ? colaborador.etnia.capitalize : "--" %> </span>
  </div>
  <hr class="divider"/>  

  <div class="d-flex justify-content-between">  
    <span class="bold">Possui deficiência:</span>
    <span> <%= colaborador.deficiencia ? "Sim" : "Não" %> </span>
  </div>
  <hr class="divider"/>

  <div class="d-flex justify-content-between">  
    <span class="bold">Rg:</span>
    <span data-controller="rg"> <%= colaborador.rg == "" ? "--" : colaborador.rg %> </span>
  </div>
  <hr class="divider"/>

  
  <div class="d-flex justify-content-between">  
    <span class="bold">Cpf:</span>
    <span data-controller="cpf"> <%= colaborador.cpf == "" ? "--" : colaborador.cpf %> </span>
  </div>
  <hr class="divider"/>

  
  <div class="d-flex justify-content-between">  
    <span class="bold">Pis:</span>
    <span data-controller="pis"> <%= colaborador.PIS == "" ? "--" : colaborador.PIS %> </span>
  </div>
  <hr class="divider"/>

  <div class="d-flex justify-content-between">
    <span class="bold">Transferido:</span>
    <span> <%= colaborador.outra_agencia ? "Sim" : "Não" %> </span>
  </div>
  <hr class="divider"/>

  <div class="d-flex justify-content-between">  
    <span class="bold">Está afastado:</span>
    <span> <%= colaborador.afastado ? "Sim" : "Não" %> </span>
  </div>
  <hr class="divider"/>

  <div class="d-flex justify-content-between">
    <span class="bold">Carga horária:</span>
    <span>
      <%=
        case colaborador.carga_horaria
        when "oito" 
          "8 horas"
        when "seis"
          "6 horas"
        when "quatro"
          "4 horas"
        when nil
          "Não registrada"
        end
      %>
    </span>
  </div>
</div>
