<p style="color: green"><%= notice %></p>

<%= image_tag "paper-sheet.png", size: "100", class: "rounded mx-auto d-block" %>

<div class="row pt-3">
  <div class="col text-end pt-3">
    <%= link_to "Voltar", colaboradores_path, class: "btn btn-secondary" %>
  </div>

  <div class="col">
    <%= render @colaborador %>
  </div>

  <div class="col pt-3">
    <%= link_to "Editar", edit_colaborador_path(@colaborador), class: "btn btn-secondary" %>
    <div class="pt-3">
      <%= button_to "Deletar", @colaborador, method: :delete, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
