<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to homepage_path do %>
      <%=image_tag "racoon.png", size: "40" %> 
    <% end %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Recursos Humanos", homepage_path, class: "nav-link active" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Colaboradores </a>
          <ul class="dropdown-menu">
            <%= link_to "Ver colaboradores", colaboradores_path, class: "dropdown-item" %>
            <%= link_to "Adicionar colaborador", new_colaborador_path, class: "dropdown-item" %>
          </ul>
        </li>
      </ul>
    </div>  
  </div>
</nav>
