<!DOCTYPE html>
<html>
  <head>
    <title>Recursos Humanos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'application/favicon' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= turbo_frame_tag "modal" %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
